.lands-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--elements-color);
  color: var(--text-color);
  padding: 3rem 2rem;

  &__container {
    max-width: 144rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
  }
}

.theme-switch {
  display: inline-block;
  .theme-mode {
    i {
      margin-right: 1rem;
    }
  }
}

.theme-switch input {
  display:none;
}